.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5px;
}

.wrap>div{
    width: 18%;
    background-color: greenyellow;
    border: 2px solid black;
}

.users-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}

.users-box>div{
    width: 45%;
    background-color: aquamarine;
    border: 2px solid black;
    text-align: center;
}